{% extends "main/index.html.twig" %}
{% block content %}
    <div class ="row">
        {% for bouteille in bouteilles %}
            <div class="col-lg-2 card">
                <div class="card-body">
                    <div class ="card-header">
                        {{ bouteille.appellationBouteille|capitalize}}
                    </div>  
                    <div class ="card-text">
                        {{ bouteille.teinte|capitalize}}<br/>
                        {{ bouteille.millesime}}<br/>                       
                    </div>  
                    <div class="row resultat-options">
                        <div class="offset-lg-2 col-lg-1">
                            <button type="button" class="btn resultat-lien" data-toggle="modal" data-target="#modalModifier">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                        <div class="offset-lg-3 col-lg-1">
                            <button type="button" class="btn resultat-lien" data-toggle="modal" data-target="#modalSupprimer">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                                             
                         <!-- Modal modifier -->
                         
                        <div class="container-fluid">
                            <div class="modal fade row" id="modalModifier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog col-lg-12" role="document">
                                  <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title modal-alert" id="modalLabel"><i class="fas fa-edit"></i> Modifier la bouteille {{ bouteille.id }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div> 
                                            {{dump(bouteille.id) }} 
                                        <div class="modal-body">
                                            <form id="formModificationBouteille" action="{{ path('modifier_bouteille', {"idBouteille": bouteille.id}) }}" method="post">
                                            {{ render(controller("App\\Controller\\BouteilleController::modifierBouteilleAction", { "idBouteille" : bouteille.id})) }}
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                 
                                  
                        <!-- Modal Supprimer-->
                        <div class="modal fade" id="modalSupprimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title modal-alert" id="modalLabel"><i class="fas fa-exclamation-triangle"></i> Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr.e de vouloir supprimer le vin <br/>{{ bouteille.appellationBouteille}} {{ bouteille.teinte}} {{ bouteille.millesime}} ?<br/>
                                        Cette action est irréversible
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path("supprimer_bouteille", {"idBouteille": bouteille.id}) }}" type="button" class="btn btn-primary form-submit">Supprimer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                             
                    </div>
                </div>
            </div> 
        {% endfor %}
    </div>   
    
    

{% endblock content %}

